# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Env / secrets
.env
.env.*
!.env.example
*.pem
*.key

# Docker
*.log

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log

# Helm
**/charts/*.tgz

# Kubernetes local
kubeconfig
*.kubeconfig

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp
